/* SCSS RGB */
$kombu-green: rgba(53, 70, 61, 1);
$solid-pink: rgba(136, 48, 64, 1);
$little-boy-blue: rgba(134, 165, 217, 1);
$melon: rgba(227, 181, 164, 1);
$mint-cream: rgba(240, 250, 241, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #35463dff, #883040ff, #86a5d9ff, #e3b5a4ff, #f0faf1ff);
$gradient-right: linear-gradient(90deg, #35463dff, #883040ff, #86a5d9ff, #e3b5a4ff, #f0faf1ff);
$gradient-bottom: linear-gradient(180deg, #35463dff, #883040ff, #86a5d9ff, #e3b5a4ff, #f0faf1ff);
$gradient-left: linear-gradient(270deg, #35463dff, #883040ff, #86a5d9ff, #e3b5a4ff, #f0faf1ff);
$gradient-top-right: linear-gradient(45deg, #35463dff, #883040ff, #86a5d9ff, #e3b5a4ff, #f0faf1ff);
$gradient-bottom-right: linear-gradient(135deg, #35463dff, #883040ff, #86a5d9ff, #e3b5a4ff, #f0faf1ff);
$gradient-top-left: linear-gradient(225deg, #35463dff, #883040ff, #86a5d9ff, #e3b5a4ff, #f0faf1ff);
$gradient-bottom-left: linear-gradient(315deg, #35463dff, #883040ff, #86a5d9ff, #e3b5a4ff, #f0faf1ff);
$gradient-radial: radial-gradient(#35463dff, #883040ff, #86a5d9ff, #e3b5a4ff, #f0faf1ff);