@import 'colors';

.appContainer {
  display: flex;
  justify-content: center;
}

.cardContainer {
  background-color: $mint-cream;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  width: 100%;
  @media only screen and (min-width: 768px) {
    max-width: 800px;
    margin-top: 40px;
  }
}

.subCard {
  display: flex;
  flex-direction: column;
  background-color: $mint-cream;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 2px;
}

.newPlayersCard {
  @media only screen and (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
}

.startGameCard {
  @media only screen and (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
}

.newGameContainer {
  display: grid;

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr)
  }
}

.gameGrid {
  display: grid;
  max-width: 1000px;
  justify-content: stretch;

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr)
  }
}

.playerForm {
  display: flex;
  flex-direction: column;
}

.payButtonGrid {
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
}

.moneyLabel {
  font-family: 'Inconsolata', monospace;
  font-size: large;
  background-color: black;
  color: lightgreen;
  border-radius: 5px;
  padding: 6px 10px 6px 10px;
}

button {
  background-color: $mint-cream;
  border: 2px solid $kombu-green;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

input {
  background-color: $mint-cream;
  border: 2px solid $melon;
  border-radius: 5px;
}

body {
  background-color: $kombu-green;
  color: $kombu-green
}